<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:jaxws="http://cxf.apache.org/jaxws"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"	
	xsi:schemaLocation="http://cxf.apache.org/configuration/beans http://cxf.apache.org/schemas/configuration/cxf-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
		http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd
		"
		>
	<!-- Spring Application context loading the following \
		extensions:	xmlns:aop, xmlns:context
	 -->

	<!-- This simple bean just requires the default xmlns -->
	<bean id="myBean" class="org.jboss.as.quickstarts.spring.MyBean">
		<property name="value" value="Antani"/>
	</bean>
	<!--  
  	<bean id="mySoapHandler" class="org.jboss.as.quickstarts.wshandler.MySoapHandler" />
  	<jaxws:endpoint id="helloWorldService" serviceClass="org.jboss.as.quickstarts.wshelloworld.HelloWorldServiceImpl">
  		<jaxws:handlers><ref bean="mySoapHandler"/></jaxws:handlers>
  	</jaxws:endpoint>
  	-->
</beans>